<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/flat-remix.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Criptocambio</title>
</head>

<body>
  <header>
    Criptocambio
  </header>
  <nav>
    Inicio
  </nav>

  <main>
    <h1>Realizar un cambio</h1>
    <table class="paper">
      <tr>
        <th class="titulo_tabla">Moneda origen</th>
        <th class="titulo_tabla">Cantidad origen</th>
        <th class="titulo_tabla">Moneda destino</th>
        <th class="titulo_tabla">Cantidad destino</th>
        <th class="titulo_tabla">Cambio</th>
      </tr>
      <tr>
        <td>
          {% if mon_orig== 'BTC' %}
          Bitcoin
          {% else %}
          Euro
          {% endif %}
        </td>
        <td>
          {{ c_origen }}
        </td>
        <td>
          {% if mon_dest== 'BTC' %}
          Bitcoin
          {% else %}
          Euro
          {% endif %}
        </td>
        <td>{{ c_dest }}</td>
        <td> {{ camb }} </td>
      </tr>
    </table>
  </main>

  <footer class="pie-de-pagina">2022 Prueba</footer>
</body>

</html>