{% extends "baseu.html" %}
{% block head_title %}
{{ super() }}: inicio
{% endblock %}

{% block page_title %}
Realizar una transacción
{% endblock %}

{% block contenido %}
{{ super() }}


<form class="paper" action="/" method="post">
  {{form.csrf_token}}

  {{form.moneda_origen.label}}
  {{form.moneda_origen}}
  {{form.moneda_destino.label}}
  {{form.moneda_destino}}

  <br>

  {{form.cantidad.label}}

  {% if form.cantidad.data %}
  {{form.cantidad(readonly=True)}}
  {% else %}
  {{form.cantidad}}
  {% endif %}
  
  <br>
  {{form.consultarapi}}
  
  <p>Precio Unidad: {{cambio}}</p>
  <p>Precio transacción: {{total}}</p>

  <br>
  {{form.borrar}}
  {{form.guardar}}
</form>
{% endblock %}