<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criptocambio</title>
</head>
<body>
   <header>
    Criptocambio
   </header>
   <nav>
    Inicio
   </nav>

   <table class="lista">
    <tr>
      <th>Moneda origen</th>
      <th>Moneda destino</th>
      <th>Cambio</th>
    </tr>
    <tr>
      <td>{{ mon_orig }}</td>
      <td>{{ mon_dest }}</td>
      <td>{{ camb }}</td>
    </tr>
   </table>

   <footer class="pie-de-pagina">2022 Prueba</footer>

</body>
</html>